/* Styles for the new.html.erb */

/* Common styles for set and header */
.set {
  margin: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

/* Header styles */
h1 {
  margin: 0;
  color: #333;
  font-size: 40px;
}

h4 {
  margin: 0;
  color: #333; /* Change the color to #333 */
}

label {
  display: block;
  font-size: 20px; /* Adjust as needed */
  margin-bottom: 5px; /* Adjust as needed */
}

/* Styles for the link back */
a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
}

a:hover {
  text-decoration: underline; /* Underline on hover */
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .space-list li {
    flex: 0 0 calc(20% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .space-list li {
    flex: 0 0 calc(33.33% - 20px);
  }
}

