div.set {
  margin: 40px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h5 {
  font-family: 'Open Sans', sans-serif;
}


.header {
  display: flex;
  flex-wrap: wrap; /* Added to handle small screen sizes */
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

h1 {
  margin-bottom: 30px;
  color: #333;
  font-size: 40px;
  font-family: open sans;
}

.new {
  color: #fff;
  background-color: #44A0D8;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
  transition: background-color 0.2s ease-in-out;


  &:hover {
    text-decoration: none;
    background-color: #408ebf;
  }
}

.back {
  color:#333;
  background-color: #e6e6e6; /* Google Drive blue */
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
  transition: background-color 0.2s ease-in-out;



  &:hover{
    background-color: #dadada;
    text-decoration: none;
  }
}

.back_to {
  color: #333;
  background-color: #e6e6e6; /* Google Drive blue */
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
  transition: background-color 0.2s ease-in-out;


  &:hover{
    background-color: #dadada;
    text-decoration: none;
  }
}

.upload {
  color: #333;
  background-color: #e6e6e6; /* Google Drive blue */
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
  margin-left: 15px;
  transition: background-color 0.2s ease-in-out;
  margin-bottom: 30px;


  &:hover{
    background-color: #dadada;
    text-decoration: none;
  }
}

.space-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    text-decoration: none;
  }
}


.space-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    font-size: 15px;
  }
}

.space-list li {
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 16px;
  text-align: left;
  transition: box-shadow 0.2s ease-in-out;
  background-color: white;
  flex: 1;

  @media (max-width: 768px) {
    flex: 0 0 calc(50% - 20px);
  }

  &:hover {
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.07);
    text-decoration: none;
  }
}


a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
}

.delete {
  color: white;
  // padding: 2.5px 8px;
  text-decoration: none;
  border-radius: 50%;
  display: inline-block;
  border: none;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
  background-color: transparent;


  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.delete-space {
  color: #aeaeae;
  // padding: 2.5px 8px;
  text-decoration: none;
  border-radius: 50%;
  display: inline-block;
  border: none;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
  background-color: transparent;


  @media (max-width: 768px) {
    font-size: 12px;
  }
}


.image-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-top: 40px;
}

.grid-image {
  width: 100%;
  height: 330px; // Set height to auto to maintain aspect ratio
  border-radius: 10px;
  display: block; // Ensure the image is treated as a block element
  object-fit: cover;

  &:hover {
    box-shadow: 0 3px 7px rgba(0,0,0,0.07);

  }
}

.back,
  .back_to,
  .back_form,
  .new,
  .create,
  .upload {
    font-size: 16px; /* Adjust font size for smaller screens */
  }

.space-list:hover a {
  text-decoration: none; /* Remove text-decoration on hover for anchor tags */
}

@media (max-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-image {
    height: 160px;
  }

  .back,
  .back_to,
  .new,
  .create,
  .upload {
    font-size: 12px; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 768px) {
  .space-list li a {
    font-size: 15px; /* Adjust font size for smaller screens */
  }

  .title h5 {
    font-size: 15px; /* Adjust font size for smaller screens */
  }

  .header h1 {
    font-size: 25px;
  }
}


.image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.delete-image-form {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  padding: 4px 10px;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
  transition: background-color 0.2s ease-in-out;
  margin-top: 11px;
  margin-right: 5.5px;
}

.title {
  text-align: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

.modal-overlay {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  left: 50%; /* Center horizontally */
  top: 50%; /* Center vertically */
  transform: translate(-50%, -50%); /* Center the element precisely */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  padding: 7px;
  border: 1px solid; /* Add a border style */
  border-radius: 10px;
  // display: flex;
  // margin-top: 3vw;
  // margin-bottom: 50px;
  width: fit-content;
  height: fit-content;
  // margin-left: 150px;

  @media (min-width: 1200px) {
    margin: auto;
    display: absolute;
    top: 50%; /* Center vertically */
    transform: translate(-50%, -50%); /* Center the element precisely */

  }

  @media (max-width: 768px) {
    margin: auto;
    display: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
  }
}

.modal-canvas {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically */

  @media (min-width: 1200px) {
    max-width: 90vw;
    max-height: 85vh;
  }

  @media (max-width: 768px) {
    max-width: 80vw;
    max-height: 85vh;
  }

}

.image-card:hover {
  cursor: pointer;
}
