/* Styles for the upload image.html.erb */

/* Common styles for set and header */
div.set {
  margin: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header styles */
h1 {
  color: #333;
  font-size: 40px;
  margin-bottom: 10px;
}

h4 {
  margin: 0;
  color: #333; /* Change the color to #333 */
}

label {
  display: block;
  font-size: 20px; /* Adjust as needed */
  margin-bottom: 5px; /* Adjust as needed */
  margin-top: 30px;
}

/* Styles for the link back */
a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
}

a:hover {
  text-decoration: underline; /* Underline on hover */
}

/* Styles for the form */
form {
  margin-top: 20px; /* Adjust as needed */
  display: flex;
  flex-direction: column; /* Change to column layout */
}

.text-field {
  margin-bottom: 20px;
}

.field {
  margin-bottom: 20px; /* Adjust as needed */
}

input[type="file"] {
  width: calc(100% - 16px); /* Adjust as needed */
  padding: 8px;
  font-size: 16px; /* Adjust as needed */
  border-radius: 8px; /* Add border-radius to the file input */
}

#uploadButton {
  color: #9e4444 !important;
  background-color: #44A0D8 !important;
  padding: 6px 12px;
  text-decoration: none;
  border-radius: 10px !important;
  font-size: 16px;
  margin-top: 20px;
  border: none !important;
}

#imageCanvas.image-canvas {
    width: 550px; /* Default width */
    max-width: 100%; /* Ensures the canvas does not exceed the container width */
}

@media only screen and (max-width: 768px) {
    #imageCanvas.image-canvas {
        width: 300px; /* Width for screens with a max width of 768px */
    }
}

.compartment-input {
  width: 100%; /* Make input fields take full width */
  margin-bottom: 10px; /* Add some bottom margin for spacing */
  padding: 8px 12px; /* Add padding for better appearance */
  border-radius: 10px; /* Apply border radius */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  text-align: center; /* Center align text */
}

input[type="text"] {
  justify-content: center;
  border-radius: 10px;
}
