.navbar-lewagon {
  background: white;
}

.logo {
  max-width: 160px;
  height: auto;

  @media (max-width: 768px) {
    max-width: 100px;
    height: auto;
  }

  @media (max-height: 440px) {
    max-width: 120px;
    height: auto;
  }

  @media (max-height: 375px) {
    max-width: 110px;
    height: auto;
  }
}

.navbar {
  background: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 67px;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  overflow: visible;

  @media(max-height: 440px){
    height: 50px;
  }

  @media(max-height: 400px){
    height: 45px;
  }

  @media(max-height: 375px){
    height: 10px;
  }
}

.navbar-search-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin-right: 20px;
 }

 .search-form {
  display: flex;
  width: 100%;
  .search-input {
    width: 100%;
    border-radius: 30px;
    border: 1px solid #e6e6e6;
    padding: 4px 15px;
    margin-left: 20px;

    &:focus {
      outline: none;
      border-color: #44A0D8;
      box-shadow: 0 0 0.5px #44A0D8, 0 0 1px #44A0D8, 0 0 1.5px #44A0D8;
    }

    @media (max-width: 768px) {
      padding: 3px 10px;
      font-size: 13px;
      margin-left: 15px;
      margin-right: 15px;
    }

    @media (max-height: 440px) {
      padding: 3px 10px;
      font-size: 14px;
      margin-left: 15px;
      margin-right: 15px;
    }

    @media (max-height: 375px) {
      padding: 3px 10px;
      font-size: 12px;
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  .search-input::placeholder {
    content: "What are you looking for?";
  }

  input[type="submit"] {
    display: none;
  }
 }

 .search-input::placeholder {
  content: "What are you looking for?";
}

.sign-out-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;

  &:hover {
    background: none;
    opacity: 0.8;
  }

  img {
    height: 17px;
    width: auto;

    @media (max-width: 768px) {
      height: 13px;
    width: auto;
    }
  }
}

.navbar-brand img {
  max-height: 33px;
  width: auto;
  margin-right: 0.5rem;
}

.navbar-nav {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.nav-item {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.nav-link, .btn-login {
  color: #333;
  text-transform: capitalize;
  font-weight: bold;
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}

.nav-item .nav-link.premium-trial {
  @media (min-width: 1367px) {

  background: white;
  color: black;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 0 0.25px #44A0D8, 0 0 0.5px #44A0D8, 0 0 0.75px #44A0D8, 0 0 1.25px #44A0D8, 0 0 1.75px #44A0D8, 0 0 2px #44A0D8, 0 0 2.5px #44A0D8, 0 0 3.75px #44A0D8;
  transition: all 0.3s ease-in-out;
  padding: 2.5px 10px;
  margin: 0 10px;
  font-family: 'Open Sans', sans-serif;
  }

  @media (max-width: 1367px) {
    display: none;
  }

}

.nav-item .nav-link:hover {
  background: #f4fbff;
  color: rgb(0, 0, 0);
  text-decoration: none;
  box-shadow: 0 0 0.5px #44A0D8, 0 0 1px #44A0D8, 0 0 1.5px #44A0D8, 0 0 2.5px #44A0D8, 0 0 3.5px #44A0D8, 0 0 4px #44A0D8, 0 0 5px #44A0D8, 0 0 7.5px #44A0D8;
}

.btn-login {
  border: 1px solid #01C1AD;
  border-radius: 20px;
  color: white;
  background-color: #4285f4;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  text-transform: capitalize;
  font-weight: bold;
  margin-left: 1rem;

  @media (max-width: 768px) {
    margin-left: 0px;
  }

  &:hover {
    background-color: #357ae8;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    height: auto;
    flex-direction: row;
    padding: 10px;
  }

  .navbar-brand img {
    max-height: 28px;
  }

  .navbar-nav {
    justify-content: flex-end;
  }

  .nav-item, .nav-link, .btn-login {
    font-size: 0.8rem;
  }

  .btn-login {
    margin-left: 0px;
  }
}

@media (max-width: 1367px) {
  .premium-trial .text {
    display: none;
  }

  .premium-trial a {
    display: none;
  }

  .image-logo {
    display: inline-block;
    background-image: url('crown.png');
    width: 20px;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 3px;
  }
}

@media (max-width: 1367px) {
  .premium-trial .nav-link {
    display: none;
  }
}

.navbar-crown {
  @media (min-width: 1367px) {
    display: none;
}
}

.premium-trial {
  @media (max-width: 1367px){
    display: none;
  }

  @media (min-width: 1367px){
    background: white;
  color: black;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 0 0.25px #44A0D8, 0 0 0.5px #44A0D8, 0 0 0.75px #44A0D8, 0 0 1.25px #44A0D8, 0 0 1.75px #44A0D8, 0 0 2px #44A0D8, 0 0 2.5px #44A0D8, 0 0 3.75px #44A0D8;
  transition: all 0.3s ease-in-out;
  padding: 2.6px 10px;
  margin: 0 10px;
  font-family: 'Open Sans', sans-serif;
  }
  &:hover{
    background: #f4fbff;
  color: rgb(0, 0, 0);
  text-decoration: none;
  box-shadow: 0 0 0.5px #44A0D8, 0 0 1px #44A0D8, 0 0 1.5px #44A0D8, 0 0 2.5px #44A0D8, 0 0 3.5px #44A0D8, 0 0 4px #44A0D8, 0 0 5px #44A0D8, 0 0 7.5px #44A0D8;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
.navbar {
  height: 55px;
}

.logo {
  max-width: 115px;
  height: auto;
}
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .navbar {
    height: 50px;
  }

  .logo {
    max-width: 115px;
    height: auto;
  }
}

@media (min-width: 1050px) and (max-width: 1180px) and (orientation: landscape) {
  .navbar {
    height: 50px;
  }

  .logo {
    max-width: 115px;
    height: auto;
  }
}

@media (min-width: 1181px) and (max-width: 1366px) and (orientation: landscape) {
  .navbar {
    height: 60px;
  }

  .logo {
    max-width: 125px;
    height: auto;
  }
}

@media (min-width: 390px) and (max-width: 844px) and (orientation: landscape) {
  .navbar {
    height: 37px;
  }

  .logo {
    max-width: 110px;
    height: auto;
  }

  .search-form {
    .search-input {
      padding: 1px 10px;
      font-size: 14px;
    }
  }
}

@media (min-width: 845px) and (max-width: 932px) and (orientation: landscape) {
  .navbar {
    height: 42px;
  }

  .logo {
    max-width: 110px;
    height: auto;
  }

  .search-form {
    .search-input {
      padding: 2px 10px;
    }
  }
}

.google-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0; // Ensure there's no margin that might affect the layout
  display: flex; // This will help center the image vertically
  align-items: center; // Align the image vertically in the button

  &:hover, &:focus {
    outline: none;
    background: none; // Remove background change on hover/focus
  }

  img {
    height: 35px; // Set the initial height to match the size of the sign-out button
    width: auto; // Maintain aspect ratio

    @media (max-width: 768px) {
      height: 25px; // Adjust the size on smaller screens
    }

    // You can add more media queries if necessary to adjust the image size on various screen sizes
  }
}


.logo-items {
  display: flex;
}

.logo-items a {
  align-items: center;
  justify-content: center;
  display: flex;
}

.logo {
  margin-right: 50px;
  bottom: 2px;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.logo a {
  align-items: center;
}

.nav-item {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 15px;
  margin-right: 30px;
}

.nav-link {
  font-weight: 400;
  font-size: 20px;
}
