.navbar-lewagon {
  background: white;
}

.logo {
  max-width: 160px; /* Adjust the maximum width as needed */
  height: auto; /* Let the browser calculate the height to maintain aspect ratio */

  @media (max-width: 768px) {
    max-width: 100px; /* Adjust the maximum width as needed */
    height: auto; /* Let the browser calculate the height to maintain aspect ratio */
  }

  @media (max-height: 440px) {
    max-width: 120px; /* Adjust the maximum width as needed */
    height: auto; /* Let the browser calculate the height to maintain aspect ratio */
  }

  @media (max-height: 375px) {
    max-width: 110px; /* Adjust the maximum width as needed */
    height: auto; /* Let the browser calculate the height to maintain aspect ratio */
  }
}

.navbar {
  background: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 67px;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  justify-content: space-between; // This will space out the logo and the nav items
  padding: 0 20px; // Added padding for a bit of space on the sides
  overflow: visible;

  @media(max-height: 440px){
    height: 50px;
  }

  @media(max-height: 400px){
    height: 45px;
  }

  @media(max-height: 375px){
    height: 10px;
  }
}

.navbar-search-container {
  flex-grow: 1; // Allow the search container to fill the space
  display: flex;
  justify-content: center; // Center the search form
  margin-right: 20px;
 }

 .search-form {
  display: flex;
  width: 100%; // Full width to align with the design
  .search-input {
    width: 100%;
    border-radius: 30px; // Rounded corners
    border: 1px solid #e6e6e6; // Light grey border
    padding: 4px 15px; // Padding inside the search bar
    margin-left: 20px;

    &:focus {
      outline: none;
      border-color: #44A0D8; // Focus color
      box-shadow: 0 0 0.5px #44A0D8, 0 0 1px #44A0D8, 0 0 1.5px #44A0D8;
    }

    @media (max-width: 768px) {
      padding: 3px 10px;
      font-size: 13px;
      margin-left: 15px;
      margin-right: 15px;
    }

    @media (max-height: 440px) {
      padding: 3px 10px;
      font-size: 14px;
      margin-left: 15px;
      margin-right: 15px;
    }

    @media (max-height: 375px) {
      padding: 3px 10px;
      font-size: 12px;
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  .search-input::placeholder {
    content: "What are you looking for?";
    /* Change the placeholder text */
  }

  // Hiding the submit button, Enter key will submit the form
  input[type="submit"] {
    display: none;
  }
 }

 .search-input::placeholder {
  content: "What are you looking for?"; /* Change the placeholder text */
}

.sign-out-button {
  background: none; // Removes any background
  border: none; // Removes the border
  padding: 0; // Removes padding
  margin: 0; // Adjust as needed

  &:hover {
    background: none; // Keeps the background transparent on hover
    opacity: 0.8; // Optional: slight transparency effect on hover
  }

  img {
    height: 17px; // Adjust the size as needed
    width: auto;

    @media (max-width: 768px) {
      height: 13px; // Adjust the size as needed
    width: auto;
    }
  }
}

.navbar-brand img {
  max-height: 33px;
  width: auto;
  margin-right: 0.5rem;
}

.navbar-nav {
  display: flex;
  align-items: center;
  margin-right: 10px; // Reduce the space on the right side
}

.nav-item {
  display: flex;
  align-items: center;
  margin-left: 0.5rem; // Ensure consistent spacing between nav items
}

.nav-link, .btn-login {
  color: #333;
  text-transform: capitalize;
  font-weight: bold;
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
  display: flex; // Align horizontally
  align-items: center; // Center vertically
}

.nav-item .nav-link.premium-trial {
  @media (min-width: 1367px) {

  background: white;
  color: black;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 0 0.25px #44A0D8, 0 0 0.5px #44A0D8, 0 0 0.75px #44A0D8, 0 0 1.25px #44A0D8, 0 0 1.75px #44A0D8, 0 0 2px #44A0D8, 0 0 2.5px #44A0D8, 0 0 3.75px #44A0D8;
  transition: all 0.3s ease-in-out;
  padding: 2.5px 10px;
  margin: 0 10px;
  font-family: 'Open Sans', sans-serif;
  }

  @media (max-width: 1367px) {
    display: none;
  }

}

.nav-item .nav-link:hover {
  background: #f4fbff;
  color: rgb(0, 0, 0);
  text-decoration: none;
  box-shadow: 0 0 0.5px #44A0D8, 0 0 1px #44A0D8, 0 0 1.5px #44A0D8, 0 0 2.5px #44A0D8, 0 0 3.5px #44A0D8, 0 0 4px #44A0D8, 0 0 5px #44A0D8, 0 0 7.5px #44A0D8;
}

.btn-login {
  border: 1px solid #01C1AD;
  border-radius: 20px;
  color: white;
  background-color: #4285f4; // Adjusted for consistency with your blue button
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  text-transform: capitalize;
  font-weight: bold;
  margin-left: 1rem; // Adjust the margin as needed

  @media (max-width: 768px) {
    margin-left: 0px;
  }

  &:hover {
    background-color: #357ae8; // Darker blue on hover
  }
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
  .navbar {
    height: auto; // Adjust height for mobile
    flex-direction: row; // Keep items in a row
    padding: 10px; // Reduce padding for mobile
  }

  .navbar-brand img {
    max-height: 28px; // Slightly smaller logo for mobile
  }

  .navbar-nav {
    justify-content: flex-end; // Keep items to the right
  }

  .nav-item, .nav-link, .btn-login {
    // padding: 0.25rem 0.5rem;
    font-size: 0.8rem; // Slightly smaller font size for mobile
  }

  .btn-login {
    margin-left: 0px; // Reduce margin for mobile
  }
}

@media (max-width: 1367px) {
  .premium-trial .text {
    display: none; /* Hide the text */
  }

  .premium-trial a {
    display: none;
  }

  .image-logo {
    display: inline-block; /* Display the image */
    background-image: url('crown.png');
    width: 20px; /* Adjust width as needed */
    height: auto; /* Adjust height as needed */
    background-size: cover; /* Ensure the image covers the span */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    margin-bottom: 3px;
  }
}

@media (max-width: 1367px) {
  .premium-trial .nav-link {
    display: none; /* Hide the anchor on screens with a maximum width of 768px */
  }
}

.navbar-crown {
  @media (min-width: 1367px) {
    display: none;
}
}

.premium-trial {
  @media (max-width: 1367px){
    display: none;
  }

  @media (min-width: 1367px){
    background: white;
  color: black;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 0 0.25px #44A0D8, 0 0 0.5px #44A0D8, 0 0 0.75px #44A0D8, 0 0 1.25px #44A0D8, 0 0 1.75px #44A0D8, 0 0 2px #44A0D8, 0 0 2.5px #44A0D8, 0 0 3.75px #44A0D8;
  transition: all 0.3s ease-in-out;
  padding: 2.6px 10px;
  margin: 0 10px;
  font-family: 'Open Sans', sans-serif;
  }
  &:hover{
    background: #f4fbff;
  color: rgb(0, 0, 0);
  text-decoration: none;
  box-shadow: 0 0 0.5px #44A0D8, 0 0 1px #44A0D8, 0 0 1.5px #44A0D8, 0 0 2.5px #44A0D8, 0 0 3.5px #44A0D8, 0 0 4px #44A0D8, 0 0 5px #44A0D8, 0 0 7.5px #44A0D8;
  }
}

/* iPad Mini portrait (768x1024) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
.navbar {
  height: 55px;
}

.logo {
  max-width: 115px; /* Adjust the maximum width as needed */
  height: auto; /* Let the browser calculate the height to maintain aspect ratio */
}
}

/* iPad Mini landscape (768x1024) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .navbar {
    height: 50px;
  }

  .logo {
    max-width: 115px; /* Adjust the maximum width as needed */
    height: auto; /* Let the browser calculate the height to maintain aspect ratio */
  }
}

/* iPad Air landscape (820x1180) */
@media (min-width: 1050px) and (max-width: 1180px) and (orientation: landscape) {
  .navbar {
    height: 50px;
  }

  .logo {
    max-width: 115px; /* Adjust the maximum width as needed */
    height: auto; /* Let the browser calculate the height to maintain aspect ratio */
  }
}


/* iPad Pro landscape (1024x1366) */
@media (min-width: 1181px) and (max-width: 1366px) and (orientation: landscape) {
  .navbar {
    height: 60px;
  }

  .logo {
    max-width: 125px; /* Adjust the maximum width as needed */
    height: auto; /* Let the browser calculate the height to maintain aspect ratio */
  }
}

/* iPhone 12 Pro landscape */
@media (min-width: 390px) and (max-width: 844px) and (orientation: landscape) {
  .navbar {
    height: 37px;
  }

  .logo {
    max-width: 110px; /* Adjust the maximum width as needed */
    height: auto; /* Let the browser calculate the height to maintain aspect ratio */
  }

  .search-form {
    .search-input {
      padding: 1px 10px;
      font-size: 14px;
    }
  }
}

// iphone 14 pro max (430x932)
@media (min-width: 845px) and (max-width: 932px) and (orientation: landscape) {
  .navbar {
    height: 42px;
  }

  .logo {
    max-width: 110px; /* Adjust the maximum width as needed */
    height: auto; /* Let the browser calculate the height to maintain aspect ratio */
  }

  .search-form {
    .search-input {
      padding: 2px 10px;
    }
  }
}
